# Code style options:
# https://releases.llvm.org/9.0.0/tools/clang/docs/ClangFormatStyleOptions.html

# Google C++ Style Guide
# https://google.github.io/styleguide/cppguide.html
BasedOnStyle: Google
