Checks: 'clang-diagnostic-*,clang-analyzer-*,google-*,cppcoreguidelines-*,modernize-*,performance-*,portability-*,readability-*,misc-*,-modernize-use-trailing-return-type'
WarningsAsErrors: '*'
FormatStyle: file
