Checks: 'clang-diagnostic-*,clang-analyzer-*,google-*,cppcoreguidelines-*,modernize-*,performance-*,portability-*,readability-*,misc-*,-modernize-use-trailing-return-type,-readability-magic-numbers,-cppcoreguidelines-avoid-magic-numbers'
WarningsAsErrors: '*,-modernize-use-using'
FormatStyle: file
