# Build folder
build/
installation/touchegg.service

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Doxygen documentation
documentation/html/
documentation/log

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# ctags
.cpptags

# Debian packaging
debian/*.log
debian/*.substvars
debian/.debhelper/
debian/tmp/
debian/touchegg/
debian/touchegg-dbg/
debian/files
obj-*-linux-gnu/

# COPR
!.copr/Makefile

# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
