#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Touchégg
Comment=Assign actions to multi touch gestures
Comment[es]=Asigne acciones a su gestos táctiles
Type=Application
Exec=/usr/bin/touchegg
Terminal=false
Icon=touchegg.png
Categories=Utility
StartupNotify=true
